<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger-subtle">
      <div class="container-fluid">
        <div class="nav-link font-weight-bold text-uppercase" style="font-weight: bold;">Angular Hub</div>
        <img src="favicon.ico"alt="" srcset="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink='/home'>Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="coursDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Cours
                </a>
                <ul class="dropdown-menu" aria-labelledby="coursDropdown">
                  <li><a class="dropdown-item" href="/lesson-text-interpolation">Text Interpolation</a></li>
                  <li><a class="dropdown-item" href="/app-parent">Signal : Input/Output</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="coursDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Exercices
                </a>
                <ul class="dropdown-menu" aria-labelledby="coursDropdown">
                  <li><a class="dropdown-item" href="/list-friends">List friends exercice 1: text interpolation</a></li>
                  <li><a class="dropdown-item" href="/exercice-control-center">Signal exercice 2: Input/Output</a></li>
                </ul>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="coursDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Travaux Pratiques
              </a>
              <ul class="dropdown-menu" aria-labelledby="coursDropdown">
                <li><a class="dropdown-item" href="/app-tp-binding">TP binding ngModel 1</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  